body {
    background-color: #262626;
    color: #d1d5db;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

/* rules applied here will only apply to img tag inside header */
header>img {
    border-radius: 100%;
    /* first is the border width , then pattern and then the color */
    border: 3px solid #fca5a5;
}

ul {
    /* this is mostly used for overridng default */
    /* border-box it overrides default rules what html has */
    box-sizing: border-box;
    list-style: none;
    /* centering header using margin condn and adding padding*/
    margin: 0 auto;
    /* em and rem are used for relative positoning to screen size ,px is a absolute measure
    */
    padding: 2em;
}

ul>li {
    /* all the list elements in the ul list */

    background-color: #d1d5db;
    border-radius: 5em;
    padding: 1em;
    /* vertical margin then horizonatl margin*/
    margin: 2em auto;
    box-shadow: 0 0 0.5em;
    text-align: center;
}

ul>li>a {
    /* select all the link tag in the ul inside the li tags */
    color: black;
    text-decoration: none;
}